.inner {
  display: inline-grid;
  overflow: hidden;
  position: relative;
  width: 224px;
}

.label {
  left: 0;
  margin: 4px;
  position: absolute;
  top: 0;
}

.image {
  border-radius: 8px;
  display: grid;
  overflow: hidden;
}

.description {
  display: grid;
  padding: 4px;
}

.itemName {
  -webkit-box-orient: vertical;
  color: #222222;
  display: -webkit-box;
  height: 3rem;
  line-clamp: 2;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemPrice {
  color: #222222;
  justify-self: right;
}
