.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form {
  display: grid;
  gap: 80px;
}

.inputList {
  display: grid;
  gap: 16px;
}

.input {
  width: 100%;
}

.purchaseButton {
  justify-self: center;
}
