.container {
  display: flex;
  flex-direction: column;
}

.amount {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  gap: 4px;
  justify-content: flex-end;
  line-height: 24px;
}

.checkIcon {
  display: inline-flex;
}

.actionButtonList {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.signInWrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.signIn {
  font-size: 0.875rem;
}
