.container {
  display: grid;
  height: 50vh;
  place-items: center;
}

.inner {
  display: grid;
  gap: 16px;
  place-items: center;
}

.mainParagraph {
  color: #222222;
  font-size: 1.5rem;
  font-weight: 700;
}

.subParagraph {
  color: #222222;
  font-size: 0.875rem;
}
